h1 {
    color: red;
}
.text {
    background-color: blue;
    max-width: 100px;
    color: white;
    margin-bottom: 100px;
}
span {
    color: red;
}
.next {
    display: inline-block;
}
h2 {
    background-color: green;
    color: white;
}
.title {
    padding: 50px 50px;
}
.form {
    margin-left: 70px;
}
li{
    font-size: 30px;
    border: solid;
    border-color: black;
    border-width: 2px;
}
a {
    color: blue;
}
